@charset "UTF-8"
*
*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    section#img{
        height: 500px;
        background-size: cover;
        background-position: center;
    }
    div#banner{
        width: 100%;
        height: 500px;
        background-color: rgba(161, 10, 10, 0.550);
    }
    div#logo{
        height: 150px;
        width: 150px;
        left: 25%;
        top: 20px;
    }
    h1{
        top: 210px;
        font-size: 3em;
    }
    p#curso{
        left: 7%;
        top: 180px;
        font-size: 1.3em;
    }
    p#p1{
        top: 310px;
        width: 90%;
        margin-left: 7%;
        font-size: 1em;
    }
    section{
        height: 400px;
    }
    div#info{
        height: 400px;
        background-image: url(../imagens/banner2-p.png);
    }
    h2{
        font-size: 1.6em;   
    }
    p#p2{
        top: 10px;
        width:90%;
        font-size: 1.1em;
    }
    footer > p{
        font-size: 0.5em;
    }
    span.material-symbols-outlined{
        font-size: 20px;
    }

}
@media screen and (min-width: 481px) and (max-width: 768px){
    section#img{
        background-position: center;
    }
    div#banner{
        width: 100%;
    }
    div#logo{
        height: 150px;
        width: 150px;
        left: 33%;
        top: 20px;
    }
    h1{
        top: 230px;
        font-size: 4.3em;
    }
    p#curso{
        left: 7%;
        top: 200px;
        font-size: 2em;
    }
    p#p1{
        top: 310px;
        width: 400px;
        margin-left: 7%;
        font-size: 1.2em;
    }
    h2{
        font-size: 1.7em;   
    }
    p#p2{
        top: 10px;
        width:90%;
        font-size: 1.1em;
    }
    footer > p{
        font-size: 0.8em;
    }

}
@media screen and (min-width: 769px) and (max-width: 1024px){
    section#img{
        background-position: center;
    }
    div#banner{
        width: 400px;
    }
    div#logo{
        height: 150px;
        width: 150px;
        left: 30%;
        top: 20px;
    }
    h1{
        top: 230px;
        font-size: 3.6em;
    }
    p#curso{
        left: 7%;
        top: 200px;
        font-size: 2em;
    }
    p#p1{
        top: 300px;
        width: 350px;
        margin-left: 7%;
        font-size: 1.2em;
    }
    h2{
        font-size: 2.7em;   
    }
    p#p2{
        top: 10px;
        width: 80%;
        font-size: 1.2em;
    }
    footer > p{
        font-size: 1.2em;
    }

}